*{
    font-family: 'PT Sans', sans-serif;
}
.bold-text {
    font-weight: bold;
}
.normal-text{
    font-weight: normal;
}
header {
    background-color: #dcdcdc;
    background-size: cover;
}
header h1 {
    letter-spacing: 1px;
    line-height: 25px;
    margin-left: 318px;
}
header h2 {
    margin-left: 318px;
}