*{

    padding: 0;
    margin: 0;
    border: 0;
}
header {
    display: flex;
    width: 100%;
    height: 260px;
    background-color: #dcdcdc;
}
.container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    max-width: 980px;
    padding: 0 10px;
    margin: 0 auto;
}
.bold-text {
    font-weight: bold;
}
.normal-text{
    font-weight: normal;
}
.text-dotted {
    text-decoration-line: underline;
    text-decoration-style: dashed;
    text-decoration-thickness: 7%; /* Встановлює товщину пунктирної лінії */
    text-underline-offset: 5px; /* Зміщення пунктирної лінії від тексту */
}
.logo{
    max-width: 100px;
    max-height: 100px;
    margin-top: -60px;
    margin-left: 10px;
}
.direction__1 {
    flex-direction: row;
    display: flex;
    width: 40%;
    align-items: center;
    margin-top: 50px;
    margin-left: 15px;
    margin-right: 100px; /* Додано відступ зправа для створення простору між блоками */

}
.container__1 {
    flex-direction: column;
    display: flex;
    color: #777777;
    align-items: center;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 150px; /* Додано відступ зправа для створення простору між блоками */
}

.h1-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: 'PT Sans', sans-serif;
    letter-spacing: 1px;
    line-height: 26px;
    font-size: 28px;
    margin-top: -90px;
}
.p-container {
    display: flex;
    justify-content: center;
    margin-left: -1px;
    font-family: 'PT Sans', sans-serif;
    letter-spacing: 1px;
    line-height: 45px;
    font-size: medium;
    width: 160px;
}
.container__2 {
    flex-direction: column;
    display: flex;
    color: #777777;
    align-items: center;
    margin-top: 50px;
    margin-right: 10px; /* Додано відступ зправа для створення простору між блоками */
    margin-left: 190px; /* Додано відступ зліва для створення простору між блоками */
}
.li-num {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1px;
    font-weight: lighter;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    line-height: 40px;
    font-size: 36px;
}

.li-connection {
    display: flex;
    justify-content: center;
    margin-left: 99px;
    font-family: 'PT Sans', sans-serif;
    letter-spacing: 1px;
    line-height: 30px;
    font-size: 18px;
}

@media (max-width: 1200px) {
    .logo,
    .header,
    .container,
    .container__1,
    .container__2,
    .li-num,
    .li-connection,
    .p-container
     {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .container__1 {
        margin-right: auto;
        margin-left: 17px;
    }

    .container__2 {
        margin-right: auto;
        margin-left: auto;
        margin-top: 10px;
    }

}

