/*
  ========================================
  General Styles
  ========================================
*/
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
html,
body {
    height: 100%;
    line-height: 1;
    margin: 0 auto;
    padding: 0;
    border: 0;
}
button,
input {
    font-weight: inherit;
    color: inherit;
}
button {
    /*cursor: pointer;
    background-color: inherit;*/
}
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: clip;
}

/*
  ========================================
  Condition
  ========================================
*/
[class ="__container"] {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 10px;
}
body {
    font-family: 'PT Sans', sans-serif;
}

/*
  ========================================
  Header
  ========================================
*/
.header {
    display: grid;
    grid-template-columns: auto auto;
    height: 230px;
    width: 100%;
    background-color: #dcdcdc;
}
.left__container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo {
    display: flex;
    flex-direction: row;
}
.box {
    display: flex;
    flex-direction: column;
    line-height: 0.8;

}
.logo img {
    max-width: 120px;
    max-height: 120px;
    margin: 15px;

}
.logo h1 {
    color: #767676;
    font-size: 28px;
    font-weight: bold;
    width: 18px;
}
.logo p {
    color: #767676;
    font-size: 20px;
}
.right__container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.box li {
    font-size: 34px;
    color: #767676;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.3;
}
 .feedback {
     display: flex;
     justify-content: end;
     font-size: 20px;
     font-family: 'PT Sans', sans-serif;
     font-weight: bold;
     text-decoration: underline;
     text-decoration-style: dashed;
     text-decoration-thickness: 7%; /* Встановлює товщину пунктирної лінії */
     text-underline-offset: 5px; /* Зміщення пунктирної лінії від тексту */
}
/*
 ========================================
 Media for header
 ========================================
*/
@media screen and (max-width: 670px){
    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 300px;
    }
}

/*
  ========================================
  Main
  ========================================
*/
.page {
    flex: 1 1 auto;
}
/*
  ========================================
  Section for Primary Navigation (menu)
  ========================================
*/
.primary_nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: #777777;
    z-index: 2;
    position: absolute;
}
.menu__container {
    display: flex;
    flex-direction: row;
}
.menu__container li {
    font-size: 25px;
    color: #FFFFFF;
    border-right: 1px solid #FFFFFF;
}
.menu__container li:last-child {
    border-right: none;
}
.menu__container a {
    margin: 10px;
}
.menu__container a span {
    color: #FFFFFF;
}

.menu__container a:hover span {
    border-bottom: 2px solid #FFFFFF;
}

.menu__container a:active span {
    border-bottom: 2px solid #FFFFFF;
}
.burger-menu {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}
/*
  ========================================
  Media for Primary Navigation (menu)
  ========================================
*/
@media screen and (max-width: 780px){
    .primary_nav {
        position: relative;
        z-index: 2;
    }
    .menu__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-right: 35px;
        z-index: 3;
    }
    .menu__container li {
        border: none;
        margin: 10px;
    }
    .menu {
        display: none;
        position: absolute;
        top: 100%;
        width: 100%;
        background-color: #777777;
        z-index: 2;
    }
    .burger-menu {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        background-color: rgba(0,0,0,0);
        position: absolute;
        z-index: 3;
    }
    .burger-menu .bar {
        width: 30px;
        height: 3px;
        background-color: #FFFFFF;
        margin: 5px 0;
    }
    .burger-menu.active .bar {
        background-color: #FFFFFF;
    }
    .menu.show {
        display: block;
    }
    .burger-menu .bar {
        width: 60px;
        height: 6px;
        background-color: #FFFFFF;
        margin: 5px 0;
        transition: all 0.3s ease;
    }
    .burger-menu.active .bar:nth-child(2) {
        opacity: 0;
    }
    .burger-menu.active .bar:first-child {
        transform: translateY(16px) rotate(45deg);
    }
    .burger-menu.active .bar:last-child {
        transform: translateY(-16px) rotate(-45deg);
    }
}
/*
  ========================================
  Section for Slider
  ========================================
*/
.slider {
    position: relative;
    z-index: 1;
}
/*стрілка*/
.slider .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 10;
    width: 40px;
    height: 90px;
    font-size: 0;
}
.slider .slick-arrow.slick-prev {
    left: 0;
    background: url("img/left.png") 0 0 / 100% no-repeat;
    margin: 0 200px;
}

.slider .slick-arrow.slick-next {
    right: 0;
    background: url("img/right.png") 0 0 / 100% no-repeat;
    margin: 0 200px;
}

.slider .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider .slick-dots li {
    list-style: none;
}
.slider .slick-dots li button {
    font-size: 0;
}
.slider__item img {
    width: 100%;
    height: auto;
}
.slick-list {
    overflow: hidden;
}
/* Лента слайдов */
.slick-track{
    display: flex;
}
button#slick-slide-control00, button#slick-slide-control01 {
    display: none;
}
button.slick-next.slick-arrow, button.slick-prev.slick-arrow {
    border: none;
}
/*
  ========================================
  Media for Slider
  ========================================
*/
@media screen and (max-width: 780px){
    .slider .slick-arrow.slick-prev {
        background: url("img/left.png") 0 0 / 30px no-repeat;
        margin: 0 100px;
    }
    .slider .slick-arrow.slick-next {
        background: url("img/right.png") 0 0 / 30px no-repeat;
        margin: 0 100px;
    }
    .slider {
        position: relative;
        z-index: 1;
    }
}
@media screen and (max-width: 560px) {
    .slider .slick-arrow.slick-prev {
    background: none;

}
    .slider .slick-arrow.slick-next {
        background: none;
    }
}
/*
  ========================================
  CONTENT
  ========================================
*/

.content__container_top {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 0 200px;
  }
.content__container_bottom {
    max-width: 780px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

/*------------Navigation content----------*/
.list {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 240px;
}
.list li {
    margin: 3px;
}
.list a {
    color: #777777;
    font-size: 19px;
}
.list a:hover {
    border-bottom: 1px solid #777777;
}
/*------------Container for items------------*/
.nav_list_items .items {
    font-size: 24px;
    color: #777777;
}
.hidden-menu {
    display: none;
}
.hidden-menu li {
    list-style-type: disc;
}
.hidden-menu.visible {
    display: block;
}

.catalog__container_items li a:active {
    border-bottom: 2px solid #000;
}
.hidden-menu li a:active {
    color: #000000;
    border-bottom: 2px solid #000000;
}
.catalog__container {
    display: flex;
    flex-direction: column;
}
/*--------Price list img---------*/
.price__container {
    padding-top: 130px;
    padding-left: 130px;
    text-align: center;
}
.price__container p {
    color: #444444;
    font-size: 25px;
    font-weight: bold;
}
/*------box with photo------*/
.box__container{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 10px;

}
.one-of-box {
    background-color: #dcdcdc;
    height: 380px;
    width: 250px;
    margin: 10px;

}
.for-text{
    display: flex;
    justify-content: center;
    padding-left: 20px;
    color: #767676;
    font-size: 18px;

}
.img-camera {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.for-money{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    color: #767676;
    padding-left: 20px;
}
.for-money p {
    font-size: 26px;
    color: #444444;
    font-weight: bold;
}
/*-----------PAGINATION------------*/

.pagination__container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 115px;
    width: 740px;
    border-bottom: 1px solid #444444;
}
.pagination__container a {
    text-decoration: none;
    color: #444444;
    font-weight: bold;
    margin: 15px;
    font-size: 25px;
}
.pagination__container a span {
    font-size: 16px;
    color: #444444;
}

.pagination__container a:hover span {
    font-size: 29px;
    color: #000000;
}

.pagination__container a:active span {
    font-size: 30px;
    color: #000000;
}
/*-----------------ABOUT COMPANY-------------------*/
.about_company__container {
    display: flex;
    flex: 1;
    margin: 20px;

}
.about_company__container div p {
    color: #444444;
}
/*
  ========================================
  Media for CONTENT
  ========================================
*/
@media screen and (max-width: 1470px) {
    .price__container {
        padding-left: 0;
    }
}
@media screen and (max-width: 1400px){
    .box__container {
        display: grid;
        grid-template-columns: auto auto;
    }
}

@media screen and (max-width: 900px) {
    .list {
        display: flex;
        justify-content: center;
        padding-right: 20px;
        padding-left: 0;
    }
    .list a {
        font-size: 30px;
    }
    .content__container_top {
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    .catalog__container_items {
        display: flex;
        justify-content: center;
    }
    .box__container {
        display: grid;
        grid-template-columns: auto;
       justify-content: center;
    }
    .nav_list_items a{
        font-size: 30px;
    }
    .nav_list_items {
        padding-left: 0;
    }
    .price__container {
        display: none;
    }
    .about_company__container {
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width:510px){
    .list a {
        font-size: 15px;
    }
}

/*
  ========================================
  Footer
  ========================================
*/
.footer {
    width: 100%;
    height: 220px;
    background-color: #767676;
}
.information__container {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    justify-content: center;
    align-items: center;
}
.footer p, .footer a {
    color: #FFFFFF;
}
.development {
    display: flex;
    flex-direction: row;
    margin-right: 200px;
}
.footer li {
    margin: 10px;
    text-decoration: underline #FFFFFF;
}
.footer-list {
    margin-top: 20px;
}
.for-p {
    width: 190px;
    margin-left: 200px;
}
.development img {
    width: 36px;
    height: 38px;
    padding-top: 18px;
}
.development p {
    padding-left: 10px;
    width: 150px;
}
/*
  ========================================
  Media for Footer
  ========================================
*/
@media screen and (max-width: 1140px) {
    .for-p {
        margin-left: 100px;
    }
}
@media screen and (max-width: 900px) {
    .development {
        margin-right: 0;

    }
}
@media screen and (max-width: 700px) {
    .for-p {
        margin-left: 10px;
    }
}
@media screen and (max-width: 596px) {
    .footer p, .footer a, .development p {
        font-size: 13px;
    }
    .footer li {
        margin: 5px;
    }
    .development img {
        width: 20px;
        height: 22px;
    }
}
@media screen and (max-width: 550px) {
    .information__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;
        padding: 0;
    }
    .footer-list {
        margin: 0;
    }
    .development p {
        padding-bottom: 10px;
    }
}


/*
  ========================================
  Feedback
  ========================================
*/
.feedback-hidden-menu {
    display: none;
    position: fixed;
    width: 466px;
    height: 578px;
    margin: 0 10px;
    top: 50%;
    left: 50%;
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 35px;
    animation: fadeIn 0.5s ease-out;
    box-shadow: 100px 100px 2px 10000px rgba(0, 0, 0, 0.6);
    transform: translate(-50%, -50%);
    z-index: 5;
    font-family: 'PT Sans', sans-serif;
}

.feedback-hidden-menu p {
    list-style-type: none;
    text-align: center;
    margin: 0;
    text-decoration: none;
    padding-bottom: 10px;

}

.feedback_a{
    font-size: 20px;
    font-weight: bold;
}
.submit {
    background-color: #777777;
    display: flex;
    align-items: center;
    width: 128px;
    height: 42px;
    justify-content: center;
    z-index: 150;
    border: none;
}
.button, .submit {
    color: #FFFFFF;
    font-size: 20px;
    margin: 0 auto;
    text-decoration: none;
}

.feedback-hidden-menu{
    display: none;
}
.info_a {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    font-size: 14px;
}
.feedback-hidden-menu.visible {
    display: block;
}
input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
input[type="text"], input[type="tel"], input[type="email"] {
    border: 1px solid #777777;
    width: 341px;
    height: 42px;
    margin: 10px 20px;
    text-transform: none;
}
textarea {
    border: 1px solid #777777;
    width: 341px;
    height: 142px;
    resize: none;
    margin: 10px 20px;
}
.close-button {
    position: absolute;
    top: -30px;
    right: -30px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    font-size: 20px;
    color: #FFFFFF;
    background-color: #777777;
    border: none;
}
@media only screen and (max-width: 320px) {
    .feedback-hidden-menu {
        width: 600px;
        height: 1000px;
    }
}


/*
  ========================================
  Validation
  ========================================
*/
input.error,
textarea.error {
    border-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
input.error,
textarea.error {
    background: radial-gradient(circle, #FFFFFF, #f7dadb);
    border-color: #91171f;
    box-shadow: 0 0 5px #91171f;
}

input.error::placeholder,
textarea.error::placeholder {
    color: #91171f;
}



/* Додання тіні до полів введення */
input[type="text"],
input[type="tel"],
input[type="email"],
textarea {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); }
/*
  ========================================
  Media for feedback
  ========================================
*/
@media screen and (max-width: 590px){
    .feedback-hidden-menu {
        width: 366px;
    }
    input[type="text"], input[type="tel"], input[type="email"] {
        width: 241px;
        height: 32px;
        margin: 10px 20px;
        text-transform: none;
    }
    textarea {
        width: 241px;
        height: 132px;
        resize: none;
        margin: 10px 20px;
    }
}
@media screen and (max-width: 460px) {
    .feedback-hidden-menu {
        width: 300px;
    }
    input[type="text"], input[type="tel"], input[type="email"] {
        width: 225px;
        height: 32px;
        margin: 10px 3px;
    }
    textarea {
        width: 225px;
        height: 132px;
        resize: none;
        margin: 10px 3px;
    }
}
@media screen and (max-width: 390px) {
    .close-button {
        display: none;
    }
}
@media screen and (max-width: 360px) {
    .feedback-hidden-menu {
        width: 466px;
        height: 578px;
        margin: 0 10px;
        top: 50%;
        left: 50%;
        box-sizing: border-box;
        padding: 10px;
    }

    .feedback-hidden-menu {
        width: 260px;
        height: 500px;

    }
    input[type="text"], input[type="tel"], input[type="email"] {
        width: 225px;
        height: 32px;
        margin: 10px 3px;
    }
    textarea {
        width: 225px;
        height: 132px;
        resize: none;
        margin: 10px 3px;
    }
}